<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="" connectionString = "Data Source=VIVSII-PC\SQLEXPRESS;Initial Catalog=CosmeticsShop;Integrated Security=True;Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>